# Disable all components except Consul
bootstrap['enable'] = false
gitlab_rails['auto_migrate'] = false
gitaly['enable'] = false
gitlab_workhorse['enable'] = false
mailroom['enable'] = false
nginx['enable'] = false
postgresql['enable'] = false
redis['enable'] = false
sidekiq['enable'] = false
prometheus['enable'] = false
unicorn['enable'] = false

consul['enable'] = true

consul['configuration'] = {
  server: true,
  bind_addr: '{{ ansible_eth1.ipv4.address }}',
  retry_join: %w(
  {% for ip in groups['consul'] | map('extract', hostvars, ['ansible_eth1', 'ipv4', 'address']) | list %}
    {{ ip }}
  {% endfor %}
  )
}
