external_url 'http://{{ ansible_host }}'
# Disable PostgreSQL on the application node
postgresql['enable'] = false

gitlab_rails['db_host'] = '{{ groups['pgbouncer'] | map('extract', hostvars, ['ansible_eth1', 'ipv4', 'address']) | list | first }}'
gitlab_rails['db_port'] = 6432
gitlab_rails['db_password'] = '{{ POSTGRESQL_USER_PASSWORD }}'
gitlab_rails['auto_migrate'] = false
