# Disable all components except PostgreSQL and Repmgr and Consul
bootstrap['enable'] = false
gitaly['enable'] = false
mailroom['enable'] = false
nginx['enable'] = false
unicorn['enable'] = false
sidekiq['enable'] = false
redis['enable'] = false
gitlab_workhorse['enable'] = false
prometheus_monitoring['enable'] = false

repmgr['enable'] = true
postgresql['enable'] = true
consul['enable'] = true

# PostgreSQL configuration
postgresql['listen_address'] = '0.0.0.0'
postgresql['hot_standby'] = 'on'
postgresql['wal_level'] = 'replica'
postgresql['shared_preload_libraries'] = 'repmgr_funcs'

# Disable automatic database migrations
gitlab_rails['auto_migrate'] = false

# Configure the consul agent
consul['services'] = %w(postgresql)

# START user configuration
# Please set the real values as explained in Required Information section
#
# Replace PGBOUNCER_PASSWORD_HASH with a generated md5 value
postgresql['pgbouncer_user_password'] = '{{ PGBOUNCER_PASSWORD_HASH }}'
postgresql['sql_user_password'] = '{{ POSTGRESQL_PASSWORD_HASH }}'
# Replace X with value of number of db nodes + 1
postgresql['max_wal_senders'] = {{ (groups['db'] | length) + 1 }}

# Replace XXX.XXX.XXX.XXX/YY with Network Address
{% set net_mask = ansible_eth1.ipv4.network + "/" + ansible_eth1.ipv4.netmask  %}
postgresql['trust_auth_cidr_addresses'] = %w({{ net_mask | ipaddr('net') }})
repmgr['trust_auth_cidr_addresses'] = %w({{ net_mask | ipaddr('net') }})

consul['configuration'] = {
  bind_addr: '{{ ansible_eth1.ipv4.address }}',
  retry_join: %w(
  {% for ip in groups['consul'] | map('extract', hostvars, ['ansible_eth1', 'ipv4', 'address']) | list %}
    {{ ip }}
  {% endfor %}
  )
}
